#!/bin/bash
set -ex

# install built wheel on cluster
pip install '/Volumes/{{ catalog_name }}/{{ schema_name }}/{{ volume_name }}/{{ wheel_file }}[automation]' \
    --index-url https://${ARTIFACTORY_USER}:${ARTIFACTORY_API_KEY}@schwarzit.jfrog.io/artifactory/api/pypi/pypi/simple \
    --extra-index-url https://${ARTIFACTORY_USER}:${ARTIFACTORY_API_KEY}@schwarzit.jfrog.io/artifactory/api/pypi/xx-sit-uapc-cop-pypi-local/simple
